{% load static %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">Automate the Boring Stuff </a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-right">
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static 'images/minion.jpg' %}" class="nav-avatar" />
                        &nbsp;Hi&nbsp;{{ user.first_name }}&nbsp;!
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
<!--                            <li><a href="#">Your Profile</a></li>-->
<!--                            <li><a href="#">Edit Profile</a></li>-->
<!--                            <li><a href="#">Account Settings</a></li>-->
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->