{% load widget_tweaks %}
{% csrf_token %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        </div>
    </div>
    {% endfor %}