{% extends 'no_navigation_base.html' %}
{% block body_content %}
<div class="module module-login span4 offset4">
    <form action="" method="POST" class="form-vertical row-fluid">
        <div class="module-head">
            <h3>Sign In</h3>
        </div>
        <div class="module-body">
            {% include 'render_form.html' %}
            <div class="module-foot">
                <div class="control-group">
                    <div class="controls clearfix">
                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock body_content %}
