{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {{ message }}
        <form method="post">
        {% include 'render_form.html' with form=add_asset_form %}
            <div class="col-lg-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Add Asset
                  </button>
                  <a href="{% url 'u_list_assets' %}" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}