{%  extends 'base.html' %}

{% block content %}
<div class="module-body">
    {% if password %}
    <div class="control-group">
        <p class="">Your random password is  <strong class="text-info">{{ password }}</strong></p><br />
    </div>
    {% endif %}
    <form method="post" action="{% url 'u_generate_password' %}" class="form-horizontal row-fluid">
    {% include 'render_form.html' %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Generate Password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}